.container {
  display: flex;
  margin: 10px;
}
.title {
  border: 1px solid black;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  margin: 0 auto;
  padding: 0.75em 1.25em;
}

.scaleText {
  margin-right: 1em;
}

.positionText {
  display: inline-block;
}

.sup {
  font-size: 0.75em;
}

.x {
  font-size: 0.75em;
}
