.margin {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: absolute;
}

.marker:nth-child(1),
.marker:nth-child(11) {
  visibility: hidden;
}

@media screen and (max-width: 400px) {
  .margin .marker:nth-child(2),
  .margin .marker:nth-child(3),
  .margin .marker:nth-child(4),
  .margin .marker:nth-child(5),
  .margin .marker:nth-child(7),
  .margin .marker:nth-child(8),
  .margin .marker:nth-child(9),
  .margin .marker:nth-child(10) {
    display: none;
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .margin .marker:nth-child(2),
  .margin .marker:nth-child(4),
  .margin .marker:nth-child(6),
  .margin .marker:nth-child(8),
  .margin .marker:nth-child(10) {
    display: none;
  }
}

.marker {
  border-style: solid;
  list-style: none;
  margin: 0;
  text-align: center;
}

.westEastMargin {
  bottom: -20px;
  left: -5%;
  right: -5%;
}

.northSouthMargin {
  bottom: -5%;
  right: -20px;
  top: -5%;
  writing-mode: tb;
}

.westEastMargin .marker {
  border-image: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 49%,
      black,
      transparent 51%,
      transparent
    )
    1;
  border-top: 5px solid;
  border-bottom: 0;
  height: 20px;
  width: 9.09090909%; /* 100 / 11 */
}

.northSouthMargin .marker {
  border-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 49%,
      black,
      transparent 51%,
      transparent
    )
    1;
  border-left: 0;
  border-right: 5px solid;
  height: 9.09090909%;
  width: 20px;
}

.northSouthMargin .marker {
  transform: rotate(180deg);
}
