.page {
  margin: 20rem;
  font-size: 10rem;
  line-height: 20rem;
  width: 500rem;
}

.header {
  font-size: 40rem;
  line-height: 60rem;
  margin: 40rem 0 20rem;
}

.header a {
  display: inline-block;
  padding-bottom: 9rem;
  border-bottom: 1rem solid black;
}

.page h2 {
  font-size: 30rem;
  line-height: 40rem;
  margin: 20rem 0 20rem;
}

.page h3 {
  font-size: 20rem;
  line-height: 30rem;
  margin: 30rem 0 10rem;
}

.page p {
  margin-bottom: 10rem;
}

.page ol {
  padding: 0 10rem 0 0;
}

.page ol li {
  margin-left: 25rem;
  padding-left: 5rem;
}

.page ul {
  padding: 0 10rem;
}

.page ul li {
  margin-left: 5rem;
  padding-left: 15rem;
}

.page ul,
.page ol {
  margin: 10rem;
}

.page li {
  margin: 0;
  padding: 10rem;
}
