.page {
  margin: 20rem;
  font-size: 10rem;
  line-height: 20rem;
  max-width: 500rem;
}

.header {
  font-size: 40rem;
  line-height: 60rem;
  margin: 40rem 0 20rem;
}

.header a {
  display: inline-block;
  padding-bottom: 9rem;
  border-bottom: 1rem solid black;
}

.header a:hover,
.header a:focus {
  background-color: #7affaa33;
}

.page h2 {
  font-size: 30rem;
  line-height: 40rem;
  margin: 20rem 0 20rem;
}

.page h3 {
  font-size: 20rem;
  line-height: 30rem;
  margin: 30rem 0 20rem;
}

.page p {
  margin-bottom: 10rem;
}

.page ol {
  margin: 10rem;
  padding: 0 20rem;
}

.page ol li {
  margin: 0 0 10rem 25rem;
  padding: 0 0 0 5rem;
}

.page ul {
  margin: 10rem;
  padding: 0 20rem;
}

.page ul li {
  margin: 0 0 10rem 15rem;
  padding: 0 0 0 15rem;
}
